.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ------------------------------------------------ */
/* GENERAL */

.background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/arrow2.jpg"); /* Replace 'your-pattern-image.jpg' with the URL of your pattern image */
    opacity: 0.1; /* Adjust opacity as needed */
    pointer-events: none; /* Ensures the background pattern doesn't interfere with mouse interactions */
}
/* ------------------------------------------------ */
/* TELEMETRY PAGE HEADER COMPONENTS */

#live-data-toggle {
    background-color: #d57048;
    border: none;
    border-radius: 75px;
    width: 12vw;
    height: 5vh;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

#live-data-toggle:hover {
    background-color: #b15632;
}

.live-data-container {
    background-color: #282c34;
    border-radius: 12px;
    padding: 15px;
    min-height: 160px;
    min-width: 130px;
    /* margin-bottom: 10px; */
    /* margin-right: 10px; */
}
.lap-info-data-container {
    background-color: #282c34;
    border-radius: 12px;
    padding: 15px;
    min-height: 160px;
    /* min-width: 350px; */
    /* margin-bottom: 10px; */
    /* margin-right: 10px; */
    /* margin-top: 5px; */
}
.speed-live-data-container {
    background-color: #282c34;
    border-radius: 12px;
    width: 150px;
    margin: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.steering-live-data-container {
    background-color: #282c34;
    border-radius: 12px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

/* ------------------------------------------------ */
/* TELEMETRY PAGE ELEMENTS */
.element-info-container {
    text-align: left;
    padding: 15px;
}

.element-info {
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px; /* Adjust as needed */
}

.background {
    display: inline-block;
    border-radius: 8px;
    padding: 5px 10px; /* Adjust padding for smaller box */
    margin-top: 10px; /* Adjust to position the rectangle properly */
}

.background-positive {
    background-color: #77dd77;
}

.background-negative {
    background-color: #ff6961;
}

.background-zero {
    background-color: gray;
}
.background-neutral {
    background-color: #f5f587;
}
/* #D3D3D3 */
.text {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.pit-text {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    padding: 15px;
    margin-top: 10px;
}
.pit-info {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 12px;
    margin-top: 10px;
}
.lap-text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
.live-data-container-subtitle {
    margin-top: 10px;
    font-size: 14px;
    color: #7a7676;
}

.tyre-soft {
    background-color: #ff6961;
}
.tyre-medium {
    background-color: #f5f587;
}
.tyre-hard {
    background-color: #ffffff;
}
.tyre-inter {
    background-color: #77dd77;
}
.tyre-wet {
    background-color: #b0e0e6;
}
.tyre-info-text {
    font-size: 18px;
}
.tyre-compound-text {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
.tyre-compound-container {
    display: inline-block;
    border-radius: 8px;
    padding: 7px 12px;
    margin-top: 10px;
}

/* ------------------------------------------------ */
/* TYRE INFORMATION */

.h3-container-tyre {
    display: flex;
    align-items: center;
}

.tyre-compound-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #d83131;
    color: #d83131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
}

/* ------------------------------------------------ */
/* RECORDING COMPONENT */

.recording-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.record-button {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.record-button.recording {
    background-color: #ef5a52;
}

.record-square {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
}

.dots-animation {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ef5a52;
    border-radius: 50%;
    animation: pulsate 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes pulsate {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2, 0.5);
        opacity: 0.5;
    }
}

/* ------------------------------------------------ */
/* RECORDING COMPONENT */

.live-data-component-container {
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: 20px; */
    /* display: inline-block; */
    /* padding: 15px; */
    /* margin: 5px; */
    background-color: #282c34;
    border-radius: 12px;
}
